# Funding Wallet Private Key (0x30d99e4e396D0986853921c4F1eF0e4a93a9aAcd)
FUNDER_PRIVATE_KEY=your_private_key_here

# Base Mainnet RPC
RPC_URL=https://mainnet.base.org

# Contract Address
CONTRACT_ADDRESS=0xEA3FD9Ff43E1C75ff600E9b18172280bd1b0A820

# Amount to fund each wallet (in ETH) - covers mint + gas
FUND_AMOUNT=0.00005
